@model Eve.Mvc.Models.TypesViewModel
@{
    ViewData["Title"] = "Types";
}

<div class="row">
    <div class="col-md-2 col-sm-4">
        <input type="text" class="form-control" id="keyword" value="" placeholder="Keyword">
        <input type="button" id="searchButton" class="btn btn-primary" value="Submit">
    </div>
</div>

<div id="TypesList">
    @Html.Raw(await Model.TypesListTask)
</div>


<input type="hidden" id="skip" value="0">
<input type="hidden" id="take" value="100">

<script type="text/javascript">
    async function refreshTypesList() {
        let url = "@Url.Action("TypesList")";
        url += "?keyword=" + document.getElementById("keyword");
        url += "&skip=" + document.getElementById("skip");
        url += "&take=" + document.getElementById("take");
        try {
            const response = await fetch(url);
            if (!response.ok) {
                throw new Error(`Response status: ${response.status}`);
            }

            const text = await response.text();
            document.getElementById("TypesList").innerHTML = text;
        } catch (error) {
            console.error(error.message);
        }
    }

    document.getElementById("searchButton").onclick += refreshTypesList;
</script>